body {
    width: 90%;
    max-width: 700px;
    margin: 20px;
}

.ristikkocontainer {
    align-items: center;
    width: 100%;
    max-width:600px;
}


.word {
    text-align:center;
    box-sizing: border-box;
    width:5%;
    line-height:120%;
    font-size: 120%;
    text-transform: uppercase;
    font-family: "Courier New";
    outline: none;
    resize: none;
}

p {
    font-family: Georgia;
    line-height: 1.5em;
    font-size: 20px;
}

li {
    font-family: Georgia;
    line-height: 1.5em;
    font-size: 15px;
}

.numbers {
    display: grid;
    width: 100%;
    max-width:600px;
    box-sizing: border-box;
    grid-template-columns:  5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    text-align:center;
    margin-top: -10px;
}