body {
    width: 90%;
    max-width: 700px;
    margin: 20px;
}

.ristikkocontainer {
    align-items: center;
    width: 100%;
    max-width:600px;
}


.word {
    text-align:center;
    width:3%;
    line-height:100%;
    font-size: 100%;
    text-transform: uppercase;
    font-family: "Courier New";
    outline: none;
    resize: none;
}

p {
    font-family: Georgia;
    line-height: 1.5em;
    font-size: 20px;
}

li {
    font-family: Georgia;
    line-height: 1.5em;
    font-size: 15px;
}

.numbers {
    display: grid;
    width: 100%;
    grid-template-columns:  4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8% 4.8%;
    text-align:center;
    margin-top: -10px;
}